<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AllTests">

    <test name="order">
        <packages>
            <package name="pl.bookstore.robot.booksearch"/>
            
        </packages>
        <classes>
            <class name="pl.bookstore.robot.DAO.QueryDAOTest" />
            <class name="pl.bookstore.robot.DAO.ResultSetConverterTest" />

            <class name="pl.bookstore.robot.searchpattern.KKPatternTest" />

            <class name="pl.bookstore.robot.utils.PojoUtilsTest"/>
            <class name="pl.bookstore.robot.utils.UrlUtilsTest"/>
        </classes>
    </test>

</suite>