<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AllTests">

    <test name="AllTests">
        <packages>
            <package name="pl.bookstore.robot.booksearch"/>
        </packages>
        <classes>
            <class name="pl.bookstore.robot.hibernate.BookPersisterTest"/>
            
            <class name="pl.bookstore.robot.utils.UrlUtilsTest"/>
        </classes>
    </test>


</suite>